@mixin flex {
 display: flex;
 justify-content: center;
 align-items: center;
}

.header {
 padding: 8px;
 width: 100vw;
 position: fixed;
 top: 0;
}

.header-flex {
 @include flex();
 flex-flow: row wrap;
}

.separator {
 flex: 1 auto;
}

.theme-changer {
 background: transparent;
 border: none;
 outline: none;
 cursor: pointer;
 .tip {
  opacity: 0;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
 }
 &:hover {
  .tip {
   opacity: 1;
   margin: 2px;
  }
 }
}

.hamburger {
 background: transparent;
 border: none;
 outline: none;
 padding: 8px;
 margin: 2px;
 text-align: center;
 cursor: pointer;
 > div {
  background-color: lightblue;
  height: 4px;
  width: 30px;
  margin: 2px;
  text-align: center;
 }
}

.links {
 display: flex;
 a {
  text-decoration: none;
  padding: 12px 14px;
  text-align: center;
  margin: 2px;
  border: none;
  &.regular {
   font-family: "Montserrat", sans-serif;
   font-size: 15px;
   &:hover {
    border-bottom: 1px solid lightblue;
    color: lightblue;
   }
  }
  &.active {
   border-bottom: 1px solid lightblue;
  }
  &.special {
   font-family: "Montserrat", sans-serif;
   font-size: 15px;
   color: white;
   border: none;
   background: slateblue;
   border-radius: 50px;
   i {
    padding: 4px;
   }
  }
 }
}

@media screen and (orientation: portrait) {
 .links {
  display: none;
 }
}

@media screen and (orientation: landscape) {
 .hamburger {
  display: none;
 }
}
