@mixin flex {
 display: flex;
 flex-flow: row wrap;
 text-align: center;
 justify-content: center;
 align-items: center;
}

.footer-flex {
 @include flex()
}

.footer {
 position: fixed;
 bottom: 0;
 padding: 8px;
 right: 0;
 left: 0;
 width: 100vw;
}

.legible {
 font-size: 30px;
 padding: 8px;
}

.separator {
 flex: 1 auto;
}

.centered-icons {
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 align-items: center;
 text-align: center;
}
