@import "fontawesome/scss/fontawesome.scss";
@import "fontawesome/scss/solid.scss";
@import "fontawesome/scss/brands.scss";

::-webkit-scrollbar {
 display: none;
}

body {
 margin: 0;
 padding: 0;
}

@font-face {
 font-family: "Oswald";
 src: url("fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
 font-family: "Montserrat";
 src: url("fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
 font-family: "Open Sans";
 src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}

@keyframes outerBorderLoadingAnimation {
 0% {
  transform: rotate(0deg);
 }
 100% {
  transform: rotate(360deg);
 }
}

// @keyframes innerBorderLoadingAnimation {
//  0% {
//   transform: rotate(0deg);
//  }
//  100% {
//   transform: rotate(360deg);
//  }
// }

.container {
 height: 100vh;
 width: 100vw;
 pre {
  border: none;
  text-align: center;
  overflow: scroll;
  font-size: 12px;
 }
 code {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  overflow: scroll;
  text-align: center;
  width: 50%;
 }
}

.header-division {
 width: 100vw;
 height: 10vh;
 z-index: 5;
}

.main-division {
 height: 80vh;
 overflow: scroll;
}

.footer-division {
 height: 10vh;
 z-index: -5;
}

.inner-main-division {
 margin-top: 25px;
 margin-bottom: 25px;
}

.code {
 text-align: justify;
}

.dark-mode {
 background-color: black;
 i {
  color: white;
 }
 .main-division {
  color: white;
 }
 .preserve-code {
  background-color: gainsboro;
 }
 .header {
  border-bottom: 1px solid white;
 }
 .footer {
  border-top: 1px solid white;
 }
 .theme-changer {
  color: white;
 }
 .links {
  a {
   &.regular {
    color: white;
   }
  }
 }
 .landing-flex {
  color: white;
 }
 // .prettyprinted {
 //  color: white;
 // }
}

.light-mode {
 background-color: whitesmoke;
 .header {
  border-bottom: 1px solid gainsboro;
  background-color: whitesmoke;
 }
 .footer {
  border-top: 1px solid gainsboro;
  background-color: whitesmoke;
 }
 .links {
  a {
   &.regular {
    color: black;
    &:active {
     color: lightblue;
    }
   }
  }
 }
}

.loader {
 background: transparent;
 .spinner {
  border: 2px solid gainsboro;
  border-top-color: slateblue;
  border-radius: 50%;
  animation: outerBorderLoadingAnimation 2s linear infinite;
  width: 30px;
  height: 30px;
  text-align: center;
 }
}

// @media only screen and (orientation: portrait) {
//  .container {
//   pre {
//    width: 40%;
//   }
//   code {
//    width: 40%;
//   }
//  }
// }
